body {
    background-image: url("images\Blur_background.jpeg");
    background-color: aqua;
    background-size: cover;
    position: absolute;
    font-family: montserrat;
    overflow: hidden;
}

.center {
    position: relative;
    top: 50%;
    left: 445px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    color: rgb(9, 70, 49);
}

.row {
    text-align: center;
    padding: 10px 0 20px 0;
}

.home {
    text-decoration: none;
    color: aliceblue;
}

button {
    width: 24%;
    height: 30px;
    border: 1px solid;
    background: rgb(9, 70, 49);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}